[submodule "Fusepp"]
	path = ./lib/Fusepp
	url = https://github.com/jachappell/Fusepp
[submodule "tgbot-cpp"]
	path = ./lib/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp.git
[submodule "SQLiteCpp"]
	path = ./lib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "json"]
	path = ./lib/json
	url = https://github.com/nlohmann/json.git
